.post{
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
	margin-bottom: 10px;
}
.vote_area{
	display: flex;
	flex-direction: column;
	margin: 0px 20px;
}
.vote_button{
	margin: 0px 0px 5px 0px;
}